<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alaskan</title>
</head>
<body>
<h1><%=p1FirstCard%> <%=p1SecondCard%></h1>
<h1><%=p2FirstCard%> <%=p2SecondCard%></h1>
</body>
</html>