<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alaskan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="app.js">
    </script>
</head>
<body>
    <div class="hand row">
        <div class="card col">
            <h1><%=p1FirstCard%></h1>
            <form method="post" action="/">
                <button name="p1FirstCard-button" type="submit" class="btn btn-primary">Play</button>
            </form>
        </div>
        <div class="card col">
            <h1><%=p1SecondCard%></h1>
            <form method="post" action="/">
                <button name="p1SecondCard-button" type="submit" class="btn btn-primary">Play</button>
            </form>
        </div>
    </div>
    <div class="hand row">
        <div class="card col">
            <h1><%=p2FirstCard%></h1>
            <form method="post" action="/">
                <button name="p2FirstCard-button" type="submit" class="btn btn-primary">Play</button>
            </form>
        </div>
        <div class="card col">
            <h1><%=p2SecondCard%></h1>
            <form method="post" action="/">
                <button name="p2SecondCard-button" type="submit" class="btn btn-primary">Play</button>
            </form>
        </div>
    </div>
</body>
</html>