.deck{
    background-color: aquamarine;
    margin: auto;
    position: relative;
    margin-top: 200px;
}
.hand{
    margin-top: 100px;
}
.hand-card{
    border: black;
    border-width: 5px;
    border-style: inset;
    height: auto;
    width: auto;
}
.hand-card-value{
    font-size: 60px;
}
.game-board{
    height: 400px;
}